html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.password-gen{
    width: 36%;
    border: 1px solid green;
    height: 10%;
    margin: 2rem;
    display: flex;
    align-items: center;

}

#password{
    color: white;
    padding: 1rem;
}
#form{
    width: 36%;
    height: 60%;
    border: 2px solid green ;

}

.checkbox-inputs{
    display: flex;
    color: white;
    flex-direction: column;

}

.checkbox-inputs label {
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#btnSubmit {
    padding: 1rem;
    margin-left: 1rem;
    width: 80%;
    background-color: rgb(120, 216, 120);
    border: 1px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}


#rangeContent{
    color: white;
    padding: 1rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#range{
    width: 80%;
    margin-right: 12px;
    margin-left: 1rem;
}

#chrTitle{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    padding: 1rem;
}


.rangeValues{
    display: flex;
    align-items: center;
}